<%- include ('./partials/header') %>

        <div class="container">
            <div class="jumbotron">
                <h1> Earth </h1>
            </div>
            <img id="planetImg" src="../img/earth.jpg" alt="Earth" /><br/><br/>
            <div id = "text">
                <p class="lead">
                      Earth is the third closest planet to the Sun and the largest terrestrial planet.  
                </p>
                <p>It is the only planet not named after a god or goddess and the only planet known to support life.  </p>
                <p>It is the densest planet in the solar system despite only being the fifth largest in terms of size and mass. 
                    Earth has an average density of 5.52 g/c<sup>3</sup>. </p>            
            </div>
            
            
        </div>
<%- include ('./partials/footer') %>
