<%- include ('./partials/header') %>

        <div class="container">
            <div class="jumbotron">
                <h1> Mars </h1>
            </div>
            <img id="planetImg" src="../img/mars.jpg" alt="Mars" /><br/><br/>
            <div id = "text">
                <p class="lead">
                      Often called the "Red Planet" due to its red color, Mars is the fourth closest planet to the Sun.
                </p>
                <p>It takes its name from Mars, the Roman god of war. </p>
                <p>It is home to Olympus Mons, the tallest mountain in the solar system and is believed by scientists to be an active volcano! </p>            
            </div>
            
            
        </div>
<%- include ('./partials/footer') %>

