<%- include ('./partials/header') %>

        <div class="container">
            <div class="jumbotron">
                <h1> Mercury </h1>
            </div>
            <img id="planetImg" src="../img/mercury.jpg" alt="Mercury" /><br/><br/>
            <div id = "text">
                <p class="lead">
                      Mercury is the planet closest to the Sun and the smallest planet in our solar system.
                </p>
                <p>It takes its name from the Roman god Mercury, who was messenger to the gods.</p>
                <p>This planet has been known for centuries, as far back as 3000 BC by the Sumerians.</p>            
            </div>
            
            
        </div>
<%- include ('./partials/footer') %>



