<%- include ('./partials/header') %>

        <div class="container">
            <div class="jumbotron">
                <h1> Venus </h1>
            </div>
            <img id="planetImg" src="../img/venus.jpg" alt="Venus" /><br/><br/>
            <div id = "text">
                <p class="lead">
                      Venus is the second closest planet to the Sun and the second brightest natural object in the sky. 
                </p>
                <p>Sometimes it has been called the "sister planet" to Earth due to their similar size and mass. </p>
                <p>Clouds formed from sulfuric acid hide the surface of Venus from view. It is named after the Roman goddess of love and beauty Venus. </p>            
            </div>
            
            
        </div>
<%- include ('./partials/footer') %>